body {
	margin: 0;
	padding: 0;
	font-size: 15px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.nav {

  padding-top: 30px;
	overflow: hidden;
  text-align: right;
  
	img {
		margin-left: 5%;
		width: 55px;
		float:left;
  }
  
  ul {
    padding-right: 5%;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 1% 0 1%;
      top:0;
    }
  }

  > ul > li > a {
    color: #fff;
    text-decoration: none;
  }
}

ul.menu li.hamburger {
	display: none;
}

.hero {
	height: 100vh;
	padding-top: 1%;
	background: url(../images/hero-mobile.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
	padding-top: 10px;
	color: #fff;
	text-align: center;
  height: 100vh;
  
  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2em;
  }
}

.about-text {
	font-size: 1.5em;
}

#about {
  padding: 3%;
  
  p {
    margin-bottom: 24px;
  }
} 

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:visited, a:active, a:link {
	color:inherit;
	text-decoration: none;
}


#projects{
  padding: 0 3%;

  .projects__grid{
    display: flex;
    margin: 0 -2.5rem;
    flex-wrap: wrap;

    .project {
      height: 340px;
    }

    .projects__col {
      flex: 1 1 0;
      padding: 0 1rem;
    }
  }
}

#about h1, #projects h1 ,#contact h1{
  margin-bottom: 3%;
  border-bottom: 3px solid currentColor;
  padding-bottom: 10px;
  width: 20%;
}

.project {
  box-shadow: 5px 10px 20px #E1E1E1;
  border-radius: 12px;
  margin-bottom: 3rem;
  padding: 1.25rem;
  height: 560px;
  width: 100%;
  transition: transform 0.75s ease-out, box-shadow 0.75s ease-out;
  
  &__role {
    margin: 0 0 0.75rem;
  }

  &__title {
    margin: 0;
    font-weight: bold;
  }

  &.project__slds {
    background: linear-gradient(rgba(255, 255, 255, 0.90) 20%, rgba(255, 255, 255, 0)), url(../images/slds.png) no-repeat center center;
    background-size: cover;
  }

  &.project__duet {
    background: linear-gradient(rgba(255, 255, 255, 0.90) 20%, rgba(255, 255, 255, 0)), url(../images/duet.png) no-repeat center center;
    background-size: cover;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 5px 10px 20px #F3f2f2;
  }
}

#contact{
	padding: 3%;
  margin: 0 auto;
  
  .row {
    div {
      display: inline-block;
    }
  }
}

#contact img{
  width: 50px;
	border-radius: 50%;
}

#contact img:hover{
	background-color: #5889b4;
}

.contact-text{
  text-align: center;
  width: 100%;
	padding-top: 2%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* SMALL portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:768px) {

	.name {
		font-size: 1.5em;
	}

	.resume-column {
		text-align: left;
	}
}

@media screen and (max-width:680px) {
	ul.menu li {display: none;}
	ul.menu li.hamburger {
		float: right;
		display: inline-block;
	}

	ul.menu.responsive {position: relative;}
  ul.menu.responsive li.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: right;
  }
}
/* MEDIUM tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:992px) {

	.resume-column {
		padding: 1%;
	}

	#about {
		//background: url("../images/charactershadow.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

	.about-text{
		padding-left: 0px;
	}

	.hero {
		padding-top: 2%;
		background: url(../images/hero.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.about-text {
		text-align: left;
	}

	.nav > ul > li > a{
		font-size: 1.3em;
	}

}

/* LARGE big landscape tablets, laptops, and desktops */
@media (min-width:1200px) {

	.name{
		font-size: 2em;
	}

	.hero {
		background-attachment: fixed;
	}

	#about {
		background-attachment: fixed;
			//background: url("../images/charactershadow2.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
	}
 }
