body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.nav {
	padding-top: 30px;
	overflow: hidden;
	text-align: right;
}

.nav img {
	margin-left: 5%;
	width: 55px;
	float:left;
}

.nav ul {
	padding-right: 5%;
	list-style-type: none;
}

.nav ul li {
	display: inline-block;
	margin: 0 1% 0 1%;
	top:0;
}

.nav > ul > li > a {
	color: #fff;
	text-decoration: none;
}

ul.menu li.hamburger {
	display: none;
}

.hero {
	height: 100vh;
	padding-top: 1%;
	background: url(../images/hero-mobile.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name{
	padding-top: 10px;
	color: #fff;
	text-align: center;
	height: 100vh;
}

.name h1{
	font-size: 2em;
	font-weight: 700;
}

.name h2{
	font-size: 1.2em;
}

.about-text {
	font-size: 1.5em;
}

#about {

	padding: 3%;
}

#experience {
	padding: 3%;
}

.exp-row {
	display: flex;
    align-items: center;
}

.exp-column img{
	height: auto;
}

#resume{
	text-align: left;
	background-color: #fff;
	padding: 3%;
}

.resume-column{
	padding: 3%;
}

.resume-column img {
	width: 128px;
	text-indent: 10px;
}

.resume-blue {
	color: #5889b4;
	font-weight: 700;
}

.resume-button{
	font-size: 1.17em;
	width: 250px;
	margin: 0 auto;
	border: 2px solid #000;
	padding: 10px 20px 10px 20px;
	margin-top: 2%;
	margin-bottom: 2%;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover, a:visited, a:active, a:link {
	color:inherit;
	text-decoration: none;
}


#projects{
	padding: 3%;
	background-color: #efefef;
}

#projects h1 ,#contact h1{
	text-align: center;
	padding-bottom: 3%;
}

.project {
	-moz-box-shadow: 0 0 20px 1px #888;
	-webkit-box-shadow: 0 0 20px 1px#888;
	box-shadow: 0 0 20px 1px #888;
	margin-bottom: 5%;
}

.project-description{
	text-align: center;
	padding: 2% 5% 2% 5%;
	background-color: #ffffff;
}

.project-description p{
	text-align: left;
}

.project-description strong{
	font-size: 18px;
}

.project-button{
	margin: 0 auto;
	font-size: 1.17em;
	width: 250px;
	border: 2px solid #000;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	margin: 2% 1% 2% 1%;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.resume-button:hover, .project-button:hover{
	cursor: pointer;
	background-color: #5b7081;
	color: #fff;
	border: 2px solid white;
}

#contact{
	text-align: center;
	padding: 3%;
	margin: 0 auto;
}

#contact img{
	text-align: center;
  width: 150px;
	border-radius: 50%;
}

#contact img:hover{
	background-color: #5889b4;
}

.contact-text{
	padding-top: 2%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* SMALL portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:768px) {

	.name {
		font-size: 1.5em;
	}

	.resume-column {
		text-align: left;
	}
}

@media screen and (max-width:680px) {
	ul.menu li {display: none;}
	ul.menu li.hamburger {
		float: right;
		display: inline-block;
	}

	ul.menu.responsive {position: relative;}
  ul.menu.responsive li.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: right;
  }
}
/* MEDIUM tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:992px) {

	.resume-column {
		padding: 1%;
	}

	#about {
		background: url("../images/charactershadow.jpg") no-repeat center center scroll;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}

	.about-text{
		padding-left: 0px;
	}

	.hero {
		padding-top: 2%;
		background: url(../images/hero.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.about-text {
		text-align: left;
	}

	.nav > ul > li > a{
		font-size: 1.3em;
	}

}

/* LARGE big landscape tablets, laptops, and desktops */
@media (min-width:1200px) {

	.name{
		font-size: 2em;
	}

	.hero {
		background-attachment: fixed;
	}

	#about {
		background-attachment: fixed;
			background: url("../images/charactershadow2.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
	}



 }
