body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding: 5% 10% 5% 10%;
}

nav {
	padding-top: 30px
	overflow: hidden;
	text-align: right;
}

nav img {
	padding-left: 5%;
	width: 55px;
	float:left;
}

nav ul {
	padding-right: 5%;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 1% 0 1%;
}

nav > ul > li > a {
	color: #fff;
	text-decoration: none;
}



.hero {
	padding-top: 2%;
	background: url(../images/hero3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.name {
	padding-top: 2%;
	color: #fff;
	font-weight: 700;
	font-size: 2.2em;
	text-align: center;
	height: 100vh;
}

.name h2 {
	font-size: 1.2em;
}

.about-text {
	font-size: 1.5em;
}

.resume {
	text-align: center;
	background-color: #fff;

}

.resume-column {
	vertical-align: top;
	padding: 0 1% 5% 1%;

}

.resume-column img {
	width: 128px;
}

.resume span {
	color: #5889b4;
	font-weight: 700;
}

.hero{
     background-attachment: fixed;
}
/*only for webkit  browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hero{ 
        background-attachment: scroll;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {

	.name {
		font-size: 1em;
	}

	.resume-column {
		display: block;
		text-align: center;
		width: 100%;
	}

	.about-text {
		text-align: center;
		width: 100%;
	}	

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
background-attachment: scroll;
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px) {

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) { 

	.name {
		font-size: 1.5em;
	}

 }
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) { 

	.resume-column {
		display: inline-block;
		text-align: left;
		width: 30%;
	}

	.about {
		background: url("../images/charactershadow.jpg") no-repeat center center scroll;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}

	.hero {
		padding-top: 2%;
		background: url(../images/hero.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	
	}

	.about-text {
		text-align: left;
		width: 40%;
	}	

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 

	.name {
		font-size: 2em;
	}

	.hero{
		background-attachment: fixed;
	}

	.about {
		background-attachment: fixed;
	}



 }

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 

	.name {
		font-size: 2.3em;
	}
	

}













