@import url('https://fonts.googleapis.com/css?family=Rubik');

$RED: #FF4B53;

$PEACH: #FFE1D4;

$BLUE: #95E9DA;

$YELLOW: #F0F0C0;

$BACKGROUND: #FFFEFA;

body {
  font-family: 'Rubik', sans-serif;
}
